<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/style/Admin_style.css" rel="stylesheet" />
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
<div class="div_top">
    <div class="div_text_top">
        Кабинет администрации
    </div>
</div>
<div>
    @RenderBody()
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="~/jquery/Admin_Script.js"></script>
</body>
</html>
